In [85]:
import os
os.listdir()

['Sample Submission.csv',
 'Train.csv',
 '.ipynb_checkpoints',
 'Test.csv',
 'e_commerce time Spent prediction(MachineHack Hackathon).ipynb']

In [86]:
import pandas as pd
import numpy as np

In [87]:
df_train = pd.read_csv("Train.csv")
df_test = pd.read_csv("Test.csv")
df_sample = pd.read_csv("Sample Submission.csv")

In [88]:
df_train.head()

,session_id,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent
0,57f879e70d3c5fc2a98102d64c9fd84e,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2020-01-22,1,0,0,236.886
1,a5442b0c7c33d0a811e7661e556b2de8,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2020-02-27,1,0,0,1277.455
2,305cb1486ed8610c00b37007926cb2c4,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,2019-08-01,0,0,0,21.704
3,f2c1ecc9993f0071df91ba178450498c,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,2019-12-30,0,1,0,455.201
4,e460830ae295e55d2216ebdc761ab9a6,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,2019-09-10,0,0,0,1164.877

In [89]:
df_train['date'] = pd.to_datetime(df_train['date']).dt.month
df_test['date'] = pd.to_datetime(df_test['date']).dt.month

In [90]:
df_train.head()

,session_id,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent
0,57f879e70d3c5fc2a98102d64c9fd84e,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,1,1,0,0,236.886
1,a5442b0c7c33d0a811e7661e556b2de8,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2,1,0,0,1277.455
2,305cb1486ed8610c00b37007926cb2c4,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,8,0,0,0,21.704
3,f2c1ecc9993f0071df91ba178450498c,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,12,0,1,0,455.201
4,e460830ae295e55d2216ebdc761ab9a6,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,9,0,0,0,1164.877

df

In [91]:
df_train.drop(['session_id'],axis = 'columns',inplace=True)

In [92]:
df_train.corr(method='pearson')

,session_number,date,purchased,added_in_cart,checked_out,time_spent
session_number,1.000000,0.076441,-0.213733,0.003013,-0.054500,0.078437
date,0.076441,1.000000,-0.052517,-0.032181,-0.010186,0.013367
purchased,-0.213733,-0.052517,1.000000,0.045022,0.168513,0.200762
added_in_cart,0.003013,-0.032181,0.045022,1.000000,0.215754,0.209807
checked_out,-0.054500,-0.010186,0.168513,0.215754,1.000000,0.157765
time_spent,0.078437,0.013367,0.200762,0.209807,0.157765,1.000000

In [93]:
df_train['client_agent'].isna().value_counts()

False    5269
True      160
Name: client_agent, dtype: int64

In [94]:
df_train['client_agent'].value_counts()

Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Mobile/11D201                                                                                                 209
Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; Touch; rv:11.0) like Gecko                                                                                                                                    163
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko                                                                                                                                           148
Product/4.2.0 iPhone/7.1.1                                                                                                                                                                                     146
Product/4.7.0 iPhone/8.1.2                                                                                                                                                                                     144
                                                                                                                                                                                                              ...
Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.0; Trident/5.0)                                                                                                                                                  1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.60 Safari/537.36                                                                                         1
Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Win64; x64; Trident/4.0; GTB7.5; .NET CLR 2.0.50727; SLCC2; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; InfoPath.3; .NET4.0C; .NET4.0E)      1
Product/4.0.0 CFNetwork/672.0.2 Darwin/14.0.0                                                                                                                                                                    1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.122 Safari/537.36                                                                                         1
Name: client_agent, Length: 698, dtype: int64

In [95]:
df_train['client_agent'].mode()

0    Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...
dtype: object

In [96]:
df_train['client_agent'].fillna(df_train['client_agent'].mode()[0], inplace=True)

In [97]:
df_train['client_agent'].isna().value_counts()

False    5429
Name: client_agent, dtype: int64

In [98]:
df_train['client_agent']

0       Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1                                Product/8.0 iPhone/8.1.3
2       Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...
3       Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
4       Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...
                              ...
5424    Mozilla/5.0 (iPhone; CPU iPhone OS 8_1 like Ma...
5425                           Product/4.2.2 iPhone/7.1.1
5426    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4)...
5427    Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...
5428    Mozilla/5.0 (iPhone; CPU iPhone OS 7_0_4 like ...
Name: client_agent, Length: 5429, dtype: object

In [99]:
df_train.head()

,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent
0,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,1,1,0,0,236.886
1,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2,1,0,0,1277.455
2,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,8,0,0,0,21.704
3,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,12,0,1,0,455.201
4,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,9,0,0,0,1164.877

In [100]:
df_train.drop(['session_number'],axis = 'columns',inplace=True)

In [101]:
from sklearn.preprocessing import LabelEncoder

In [102]:
df_train['device_details'].value_counts()

iPhone - iOS                  1515
Desktop - Chrome               815
iPhone - Web                   665
Android Phone - Android        326
Desktop - Safari               313
Desktop - IE                   292
iPad - Web                     289
iPhone - MobileWeb             277
Desktop - Firefox              234
Android Tablet - Web           203
Other - Other                  185
Unknown - MobileWeb             87
Android Phone - Web             86
iPad - iOS                      77
Android Phone - MobileWeb       54
Android Tablet - Android         9
Android Tablet - MobileWeb       2
Name: device_details, dtype: int64

In [103]:
label_encoder = LabelEncoder()

In [104]:
df_train['device_details'] = label_encoder.fit_transform(df_train['device_details'])

In [105]:
df_train['client_agent'] = label_encoder.fit_transform(df_train['client_agent'])

In [106]:
df_train.head()

,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent
0,269,6,1,1,0,0,236.886
1,688,16,2,1,0,0,1277.455
2,412,14,8,0,0,0,21.704
3,355,8,12,0,1,0,455.201
4,407,15,9,0,0,0,1164.877

In [107]:
df_test.drop(['session_id'],axis = 'columns',inplace=True)
df_test.drop(['session_number'],axis = 'columns',inplace=True)
df_test['client_agent'].fillna(df_test['client_agent'].mode()[0], inplace=True)
df_test['device_details'] = label_encoder.fit_transform(df_test['device_details'])
df_test['client_agent'] = label_encoder.fit_transform(df_test['client_agent'])

In [116]:
X=df_train.iloc[:,0:6]
y =df_train['time_spent']

In [109]:
df_test.head()

   client_agent  device_details  date  purchased  added_in_cart  checked_out
0           174               7     1          1              0            0
1           355               0     2          0              0            0
2           418              15    10          1              0            0
3           238               7     1          0              0            0
4           202               5     1          0              0            0

In [117]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [123]:
lin_reg = LinearRegression()
forest = RandomForestRegressor()

In [119]:
model = lin_reg.fit(X,y)

In [120]:
model_forest = forest.fit(X,y)

In [125]:
reg_pred = model.predict(df_test)

In [128]:
from sklearn.metrics import mean_squared_log_error

In [126]:
forest_pred = model_forest.predict(df_test)

In [132]:
df_test['time_spent'] = forest_pred

In [133]:
df_test['time_spent'].to_csv("Submission.csv")

In [135]:
df_test.shape

(2327, 7)

In [136]:
df_test['time_spent1'] = reg_pred
df_test['time_spent1'].to_csv('Submission2.csv')

In [138]:
df_test['time_spent1']

0       1042.480230
1        209.815763
2       1295.702119
3        191.562565
4        167.460559
           ...
2322     383.616279
2323    1026.338877
2324     315.522511
2325    1278.284416
2326    1085.592593
Name: time_spent1, Length: 2327, dtype: float64

In [139]:
df_test['time_spent']

0        683.186958
1        951.031130
2        433.115832
3        264.498207
4        512.575657
           ...
2322     208.453621
2323     572.385623
2324     241.107490
2325     675.392408
2326    1722.943847
Name: time_spent, Length: 2327, dtype: float64