In [115]:
import os
os.listdir()

['Submission.csv',
 'e_commerce time Spent prediction(MachineHack Hackathon)-Copy1.ipynb',
 'Sample Submission.csv',
 'Sub1.csv',
 'Train.csv',
 '.ipynb_checkpoints',
 'Submission2.csv',
 'Test.csv',
 'e_commerce time Spent prediction(MachineHack Hackathon).ipynb']

In [116]:
import pandas as pd
import numpy as np

In [117]:
df_train = pd.read_csv("Train.csv")
df_test = pd.read_csv("Test.csv")
df_sample = pd.read_csv("Sample Submission.csv")

In [118]:
df_train.head()

,session_id,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent
0,57f879e70d3c5fc2a98102d64c9fd84e,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2020-01-22,1,0,0,236.886
1,a5442b0c7c33d0a811e7661e556b2de8,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2020-02-27,1,0,0,1277.455
2,305cb1486ed8610c00b37007926cb2c4,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,2019-08-01,0,0,0,21.704
3,f2c1ecc9993f0071df91ba178450498c,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,2019-12-30,0,1,0,455.201
4,e460830ae295e55d2216ebdc761ab9a6,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,2019-09-10,0,0,0,1164.877

In [119]:
df_train.corrwith(df_train['time_spent'],method='pearson')

session_number    0.078437
purchased         0.200762
added_in_cart     0.209807
checked_out       0.157765
time_spent        1.000000
dtype: float64

In [120]:
df_train["date"] = pd.to_datetime(df_train['date'])
df_test["date"] = pd.to_datetime(df_test['date'])

df_train["year"] = df_train['date'].dt.year
df_test["year"] = df_test['date'].dt.year

df_train["month"] = df_train['date'].dt.month
df_test["month"] = df_test['date'].dt.month

df_train['day']= df_train['date'].dt.day
df_test["day"] = df_test['date'].dt.day

df_train['diff_date'] = ((df_train['date'] - pd.datetime(1970,1,1)).dt.total_seconds())/(10**6)
df_test['diff_date'] = ((df_test['date'] - pd.datetime(1970,1,1)).dt.total_seconds())/(10**6)

/home/sunbeam/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  del sys.path[0]
/home/sunbeam/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [121]:
df_train.head()

,session_id,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent,year,month,day,diff_date
0,57f879e70d3c5fc2a98102d64c9fd84e,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2020-01-22,1,0,0,236.886,2020,1,22,1579.6512
1,a5442b0c7c33d0a811e7661e556b2de8,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2020-02-27,1,0,0,1277.455,2020,2,27,1582.7616
2,305cb1486ed8610c00b37007926cb2c4,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,2019-08-01,0,0,0,21.704,2019,8,1,1564.6176
3,f2c1ecc9993f0071df91ba178450498c,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,2019-12-30,0,1,0,455.201,2019,12,30,1577.6640
4,e460830ae295e55d2216ebdc761ab9a6,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,2019-09-10,0,0,0,1164.877,2019,9,10,1568.0736

df

In [122]:
df_train.drop(['session_id'],axis = 'columns',inplace=True)

In [123]:
df_train.corrwith(df_train['time_spent'],method='pearson')

session_number    0.078437
purchased         0.200762
added_in_cart     0.209807
checked_out       0.157765
time_spent        1.000000
year             -0.030843
month             0.013367
day              -0.030206
diff_date        -0.046154
dtype: float64

In [124]:
df_train['client_agent'].isna().value_counts()

False    5269
True      160
Name: client_agent, dtype: int64

In [125]:
df_train['client_agent'].value_counts()

Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Mobile/11D201             209
Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; Touch; rv:11.0) like Gecko                                                163
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko                                                       148
Product/4.2.0 iPhone/7.1.1                                                                                                 146
Product/4.7.0 iPhone/8.1.2                                                                                                 144
                                                                                                                          ...
Product/160314 Android/4.2.2 Device/samsung_GT-I9195 Carrier/3 ITA Type/Mobile                                               1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36      1
Product/6.0 iPhone/7.0.2                                                                                                     1
Product/160402 Android/4.4.2 Device/samsung_SM-G900F Carrier/StarHub Type/Mobile                                             1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36      1
Name: client_agent, Length: 698, dtype: int64

In [126]:
df_train['client_agent'].mode()

0    Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...
dtype: object

In [127]:
df_train['client_agent'].fillna(df_train['client_agent'].mode()[0], inplace=True)

In [128]:
df_train['client_agent'].isna().value_counts()

False    5429
Name: client_agent, dtype: int64

In [129]:
df_train['client_agent']

0       Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1                                Product/8.0 iPhone/8.1.3
2       Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...
3       Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
4       Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...
                              ...
5424    Mozilla/5.0 (iPhone; CPU iPhone OS 8_1 like Ma...
5425                           Product/4.2.2 iPhone/7.1.1
5426    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4)...
5427    Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...
5428    Mozilla/5.0 (iPhone; CPU iPhone OS 7_0_4 like ...
Name: client_agent, Length: 5429, dtype: object

In [130]:
df_train.head()

,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent,year,month,day,diff_date
0,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2020-01-22,1,0,0,236.886,2020,1,22,1579.6512
1,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2020-02-27,1,0,0,1277.455,2020,2,27,1582.7616
2,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,2019-08-01,0,0,0,21.704,2019,8,1,1564.6176
3,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,2019-12-30,0,1,0,455.201,2019,12,30,1577.6640
4,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,2019-09-10,0,0,0,1164.877,2019,9,10,1568.0736

In [131]:
df_train.drop(['session_number'],axis = 'columns',inplace=True)

In [132]:
from sklearn.preprocessing import LabelEncoder

In [133]:
df_train['device_details'].value_counts()

iPhone - iOS                  1515
Desktop - Chrome               815
iPhone - Web                   665
Android Phone - Android        326
Desktop - Safari               313
Desktop - IE                   292
iPad - Web                     289
iPhone - MobileWeb             277
Desktop - Firefox              234
Android Tablet - Web           203
Other - Other                  185
Unknown - MobileWeb             87
Android Phone - Web             86
iPad - iOS                      77
Android Phone - MobileWeb       54
Android Tablet - Android         9
Android Tablet - MobileWeb       2
Name: device_details, dtype: int64

In [134]:
label_encoder = LabelEncoder()

In [135]:
df_train['device_details'] = label_encoder.fit_transform(df_train['device_details'])

In [136]:
df_train['client_agent'] = label_encoder.fit_transform(df_train['client_agent'])

In [137]:
df_train.head()

,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent,year,month,day,diff_date
0,269,6,2020-01-22,1,0,0,236.886,2020,1,22,1579.6512
1,688,16,2020-02-27,1,0,0,1277.455,2020,2,27,1582.7616
2,412,14,2019-08-01,0,0,0,21.704,2019,8,1,1564.6176
3,355,8,2019-12-30,0,1,0,455.201,2019,12,30,1577.6640
4,407,15,2019-09-10,0,0,0,1164.877,2019,9,10,1568.0736

In [138]:
#df_train.drop(['client_agent'],axis = 'columns',inplace=True)
df_train.drop(['date'],axis='columns',inplace=True)

In [139]:
df_test.drop(['session_id'],axis = 'columns',inplace=True)
df_test.drop(['session_number'],axis = 'columns',inplace=True)
df_test['client_agent'].fillna(df_test['client_agent'].mode()[0], inplace=True)
df_test['device_details'] = label_encoder.fit_transform(df_test['device_details'])
df_test['client_agent'] = label_encoder.fit_transform(df_test['client_agent'])
#df_test.drop(['client_agent'],axis = 'columns',inplace=True)
df_test.drop(['date'],axis='columns',inplace=True)

In [140]:
df_test.head()

,client_agent,device_details,purchased,added_in_cart,checked_out,year,month,day,diff_date
0,174,7,1,0,0,2020,1,7,1578.3552
1,355,0,0,0,0,2020,2,13,1581.5520
2,418,15,1,0,0,2019,10,14,1571.0112
3,238,7,0,0,0,2020,1,26,1579.9968
4,202,5,0,0,0,2020,1,29,1580.2560

In [158]:
X = df_train.drop(['time_spent'],axis='columns')
y = df_train['time_spent']

,client_agent,device_details,purchased,added_in_cart,checked_out,year,month,day,diff_date,time_spent
0,174,7,1,0,0,2020,1,7,1578.3552,805.470430
1,355,0,0,0,0,2020,2,13,1581.5520,95.643506
2,418,15,1,0,0,2019,10,14,1571.0112,938.275883
3,238,7,0,0,0,2020,1,26,1579.9968,261.418613
4,202,5,0,0,0,2020,1,29,1580.2560,105.246635
...,...,...,...,...,...,...,...,...,...,...
2322,368,9,0,0,0,2019,11,6,1572.9984,113.491715
2323,164,5,0,1,0,2020,1,18,1579.3056,551.445685
2324,457,15,0,0,0,2020,1,14,1578.9600,730.804796
2325,415,12,1,0,0,2019,10,1,1569.8880,530.107380
2326,363,0,0,1,0,2020,2,22,1582.3296,1034.586387

In [143]:

from sklearn.ensemble import RandomForestRegressor

In [144]:

forest = RandomForestRegressor()

In [145]:
model_forest = forest.fit(X,y)

In [146]:
from sklearn.metrics import mean_squared_log_error

In [147]:
forest_pred = model_forest.predict(df_test)

In [148]:
df_test['time_spent'] = forest_pred

In [149]:
df_test['time_spent'].to_csv("Sub2.csv")

In [150]:
df_test.shape

(2327, 10)

In [159]:
df_test.drop(['time_spent'],axis='columns',inplace=True)

In [151]:
from sklearn.ensemble import AdaBoostRegressor

In [152]:
adboost = AdaBoostRegressor()

In [153]:
ada_model = adboost.fit(X,y)

In [160]:
ada_pred = ada_model.predict(df_test)

In [161]:
df_test['time_spent'] = ada_pred

In [162]:
df_test['time_spent'].to_csv('Sub3.csv')